html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
}

/* @font-face {
  font-family: Inter;
  font-weight: bold;
  src: url(/fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter;
  font-weight: bolder ;
  src: url(/fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: Inter;
  font-weight: normal ;
  src: url(/fonts/Inter-Regular.ttf);
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
